<footer class="footer">
    <div class="index-div-footer-container">
        <i class="far fa-credit-card index-icons-footer"></i>
        <h2>Elegí como pagar</h2>
        <h3>Tenemos los medios de pago mas populares del mercado</h3>
    </div>
    <div class="index-div-footer-container">
        <i class="far fa-check-square index-icons-footer"></i>
        <h2>Compra asegurada</h2>
        <h3>Vendedores Garantizados por Safety Pay</h3>
    </div>
    <div class="index-div-footer-container">
        <i class="fas fa-gift index-icons-footer"></i>
        <h2>Envíos a todo el país</h2>
        <h3>Enviá a tu domicilio o retira en nuestros puntos Pickit!</h3>
    </div>
</footer>