<header class="header">
    <section class="header-maxwidth-body">
        <div class="index-logo">
            <a href="/"><img src="/images/logo-gota.svg" alt="logo de allclean" class="index-imglogo"></a>
            <a href="/">All Clean</a>
        </div>
        
        <section class="header-searchbar">
            <form action="/search" method="GET" class="header-searchbar">
                <input type="text" name="search" placeholder="¿Qué producto buscas?">      
                <button type="submit" class="lupa" ><i class="fas fa-search"></i></button>
            </form>
        </section>
              
        
        <section class="header-rightmenu">
            <div class="menu-area">
                <% if(locals.isLogged) { %>
                  <a href="" class="menu-area-user">
                    <img src='/images/avatars/<%= locals.userLogged.avatar %>' width=50 style="border-radius: 100%;">
                        <%= locals.userLogged.name %>
                  </a> 
                <nav class="menu-opc">    
                        <ul> 
                            <li><a href="/users/Logout">Logout</a></li>               
                            <li><a href="/users/userProfile"> Mi cuenta</a></li>
                        </ul>
                            <% } else { %>
                            <i class="fas fa-user"></i>
                        <nav class="menu-opc">    
                        <ul> 
                            <li><a href="/users/Register">Registro</a></li>
                            <li><a href="/users/Login">Login</a></li>
                        <% } %> 
                    </ul>
                </nav>   
            </div>  
            
            <div>
                <a href=""><i class="far fa-heart"></i></a>
            </div>
            <div> 
                <a href="/products/cart"><i class="fas fa-shopping-cart" ></i></a>
            </div>            
        </section>

        <section class="hamburgermenu"><i class="fas fa-bars barras" ></i>
            <nav>
                <ul class="opc">                     
                    <li class="option"><i class="fa-solid fa-droplet"></i>Inicio<a href="/"></a></li>
                    <li class="option"><i class="fa-regular fa-spray-can-sparkles"></i>Productos<a href="/products"></a></li>
                    <li class="option"><i class="fa-solid fa-broom-ball"></i>Quienes somos<a href=""></a></li>
                    <li class="option"><i class="fa-regular fa-hand-holding-droplet"></i>Servicios<a href=""></a></li>                                                        
                    <li class="submenu-btn option"><i class="fas fa-user"></i>Mi cuenta<a href="#"><i class="fas fa-chevron-down flecha-down"></i></a>
                        <ul class="submenu-opc">
                            <li><a href="/users/Register">Registro</a></li>
                            <li><a href="/users/Login">Login</a></li>
                            <li><a href="">Log out</a></li>
                            <li><a href="">Mi perfil</a></li>
                        </ul>
                    </li>                      
                     <li class="submenu-btn option"><i class="fas fa-bars"></i>Categorias<a href="#"><i class="fas fa-chevron-down flecha-down"></i></a>
                        <ul  class="submenu-opc">
                            <% for( let categoria of constants.generalCategory ) { %>
                                <li><a href="/products/category/<%= categoria.name %>">
                                    <%= categoria.name %></a></li>
                            <% } %>
                        </ul>
                    </li>   
                    <li class="option"><i class="fas fa-shopping-cart" ></i>Carrito<a href="/products/cart"></a></li>                           
                </ul>
            </nav>
        </section>
    </section>

</header>

<!-- <div class="menu-area">
    <i class="fas fa-user"></i>
    <nav class="menu-opc">    
        <ul> 
            <% if(locals.isLogged) { %> 
                <li><a href="/users/Logout">Logout</a></li>               
                <li><a href=""> Mi cuenta</a></li>
            <% } else { %> 
                <li><a href="/users/Register">Registro</a></li>
                <li><a href="/users/Login">Login</a></li>
            <% } %> 
        </ul>
    </nav>   
</div>  -->


