    <%- include('partials/doctype.ejs') %>
    <title>All Clean</title>
</head>

<body class="body">
    <%- include('partials/header.ejs') %>
    
    <main class="index-main">
        <section class="index-cat-ban-container">
            <section class="index-slaider-container">
                <div class="index-slider" id="index-slider">
                    <div class="index-slider-section">
                        <img src="images/banner-1.jpg" alt="Banner Ayudin" class="index-slider-img">
                    </div>
                    <div class="index-slider-section">
                        <img src="images/banner-2.png" alt="Banner Skip" class="index-slider-img">
                    </div>
                    <div class="index-slider-section">
                        <img src="images/banner-3.png" alt="Banner Vivere" class="index-slider-img">
                    </div>
                    <div class="index-slider-section">
                        <img src="images/banner-4.jpg" alt="Banner Espadol" class="index-slider-img">
                    </div> 
                    
                    <div class="index-slider-btn index-slider-btn-right" id="index-btn-right">&#62;</div>
                    <div class="index-slider-btn index-slider-btn-left" id="index-btn-left">&#60;</div>
                </div>
            </section>

            <h2 class="index-h2-categories">Categorias</h2>  
            <nav class="index-categories">
                <div class="index-main-categories">
                    <i class="fas fa-sink index-categories-icons"></i>
                    <h2>Limpiadores de Cocina</h2>
                </div>
                <div class="index-main-categories">
                    <i class="fas fa-toilet index-categories-icons"></i>
                    <h2>Limpiadores de Baño</h2>
                </div>
                <div class="index-main-categories">
                    <i class="fas fa-pump-medical index-categories-icons"></i>
                    <h2>Desinfectantes</h2>
                </div>
                <div class="index-main-categories">
                    <i class="fas fa-pump-soap index-categories-icons"></i>
                    <h2>Sanitizantes</h2>
                </div>
                <div class="index-main-categories">
                    <i class="fas fa-broom index-categories-icons"></i>
                    <h2>Limpiadores Hogar</h2>
                </div>
                <div class="index-main-categories">
                    <i class="fas fa-vial index-categories-icons"></i>
                    <h2>Otros</h2>
                </div>
            </nav>   
        </section>

        
        <section class="index-offers">
            <h2 class="index-h2-offers"> <a href="/productDetail">Super Ofertas</a> </h2>    
            <article class="index-div-container">
                <div class="index-div-img">
                    <img src="/images/oferta-1.png" alt="Ayudin" class="index-img-offers">
                </div>
                 <div class="index-info-offers">
                    <p class="index-price-offers">$121</p>
                    <p class="index-discount-offers">10% off</p>
                    <p class="index-description-offers">Quitamanchas Ropa Ayudín Blanco Supremo 400 Ml</p>
                </div>    
            </article>

            <article class="index-div-container">
                <div class="index-div-img">
                    <img src="/images/oferta-2.webp" alt="Magistral" class="index-img-offers">
                </div>
                <div class="index-info-offers">
                    <p class="index-price-offers">$410</p>
                    <p class="index-discount-offers">15% off</p>
                    <p class="index-description-offers">Detergente Magistral Ultra Limón sintético en botella 500 ml</p>
                </div>   
            </article>

            <article class="index-div-container">
                <div class="index-div-img">
                    <img src="/images/oferta-3.webp" alt="Lisoform" class="index-img-offers">
                </div>
                <div class="index-info-offers">
                    <p class="index-price-offers">$159.99</p>
                    <p class="index-discount-offers">17% off</p>
                    <p class="index-description-offers">Limpiador Lysoform Original en aerosol 360ml</p>
                </div>   
            </article>

            <article class="index-div-container">
                <div class="index-div-img">
                    <img src="/images/oferta-4.webp" alt="Vivere" class="index-img-offers">
                </div>
                <div class="index-info-offers">
                    <p class="index-price-offers">$195</p>
                    <p class="index-discount-offers">20% off</p>
                    <p class="index-description-offers">Suavizante Vivere Clásico repuesto 900 ml</p>
                </div>   
            </article>

            <article class="index-div-container">
                <div class="index-div-img">
                    <img src="/images/oferta-5.png" alt="Espadol" class="index-img-offers">
                </div>
                <div class="index-info-offers">
                    <p class="index-price-offers">$255</p>
                    <p class="index-discount-offers">10% off</p>
                    <p class="index-description-offers">Jabón líquido Espadol Antibacterial Original con dosificador 250 ml</p>
                </div>   
            </article>
            
            <article class="index-div-container">
                <div class="index-div-img">
                    <img src="/images/oferta-6.webp" alt="Jabon Ala" class="index-img-offers">
                </div>
                <div class="index-info-offers">
                    <p class="index-price-offers">$243</p>
                    <p class="index-discount-offers">12% off</p>
                    <p class="index-description-offers">Jabon En Polvo Ala Matic Baja Espuma 800gr</p>
                </div>   
            </article>
        </section>

        <section class="index-popular-categories">
            <h2 class="index-h2-popular">Categorias Populares</h2>
            <div class="index-popularicons-container">
                <i class="fas fa-sink index-categories-icons"></i>
                <h2>Limpiadores de Cocina</h2>
            </div>
            <div class="index-popularicons-container">
                <i class="fas fa-toilet index-categories-icons"></i>
                <h2>Limpiadores de Baño</h2>
            </div>
            <div class="index-popularicons-container">
                <i class="fas fa-pump-medical index-categories-icons"></i>
                <h2>Desinfectantes</h2>
            </div>
        </section>
    </main>

    <%- include('partials/footer.ejs') %>

    <script src="/js/index-slider.js"></script>
    <script src="/app.js"></script>
</body>
</html>