<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/707b293baa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Mulish&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body class="index-body">
    <header class="index-header">
        <div class="index-logo">
            <img src="images/logo.jpg" alt="logo de allclean" class="index-imglogo">
        </div>

        <section class="index-searchbar">
            <input type="search" name="busqueda" placeholder="¿Qué producto buscas?">     
            <i class="fas fa-search"></i>
        </section>

        <section class="index-rightmenu">
            <i class="fas fa-user"></i>
            <i class="far fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </section>

        <section class="index-hamburgermenu">
            <i class="fas fa-bars"></i>
        </section>
    </header>
    
        <main class="index-main">
            <section class="index-cat-ban-container">
                <section class="index-slaider-container">
                    <div class="index-slider" id="index-slider">
                        <div class="index-slider-section">
                            <img src="images/banner-1.jpg" alt="Banner Ayudin" class="index-slider-img">
                        </div>
                        <div class="index-slider-section">
                            <img src="images/banner-2.png" alt="Banner Skip" class="index-slider-img">
                        </div>
                        <div class="index-slider-section">
                            <img src="images/banner-3.png" alt="Banner Vivere" class="index-slider-img">
                        </div>
                        <div class="index-slider-section">
                            <img src="images/banner-4.jpg" alt="Banner Espadol" class="index-slider-img">
                        </div> 
                        
                        <div class="index-slider-btn index-slider-btn-right" id="index-btn-right">&#62;</div>
                        <div class="index-slider-btn index-slider-btn-left" id="index-btn-left">&#60;</div>
                    </div>
                </section>

                <h2 class="index-h2-categories">Categorias</h2>  
                <nav class="index-categories">
                    
                    <div class="index-main-categories">
                        <i class="fas fa-sink index-categories-icons"></i>
                        <h2>Limpiadores de Cocina</h2>
                    </div>
                    <div class="index-main-categories">
                        <i class="fas fa-toilet index-categories-icons"></i>
                        <h2>Limpiadores de Baño</h2>
                    </div>
                    <div class="index-main-categories">
                        <i class="fas fa-pump-medical index-categories-icons"></i>
                        <h2>Desinfectantes</h2>
                    </div>
                    <div class="index-main-categories">
                        <i class="fas fa-pump-soap index-categories-icons"></i>
                        <h2>Sanitizantes</h2>
                    </div>
                    <div class="index-main-categories">
                        <i class="fas fa-broom index-categories-icons"></i>
                        <h2>Limpiadores Hogar</h2>
                    </div>
                    <div class="index-main-categories">
                        <i class="fas fa-vial index-categories-icons"></i>
                        <h2>Otros</h2>
                    </div>
                </nav>   
            </section>
    
        
        <section class="index-offers">

        </section>

        <section class="index-popularcategories">

        </section>
    </main>

    <footer class="index-footer">
        
    </footer>
    <script src="/js/index-slider.js"></script>
</body>
</html>