<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalle de producto</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/707b293baa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Mulish&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body class="body-productDetail">
    <header class="productDetail-header">
        <section class="productDetail-maxwidth-body"> 
            <div class="productDetail-logo">
                <img src="images/logo-gota.svg" alt="logo de allclean" class="productDetail-imglogo">
                <h1>All Clean</h1>
            </div>

            <section class="productDetail-searchbar">
                <input type="search" name="busqueda" placeholder="¿Qué producto buscas?">     
            </section>

            <section class="productDetail-rightmenu">
                <i class="fas fa-user"></i>
                <i class="far fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
            </section>

            <section class="productDetail-hamburgermenu">
                <i class="fas fa-bars"></i>
            </section>
        </section>        
    </header>
    <main class="productDetail-main">
        <div class="productDetail-slider-container">
            <div class="productDetail-slider" id="productDetail-slider">
                <div class="productDetail-slider-section">
                    <img src="images/CIF_pruct.jpg" alt="limpiador Cif blanco" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section">
                    <img src="images/mr_musculo_pruct.jpg" alt="desengrasante mr musculo" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section"> 
                    <img src="images/Zorro_pruct.jpg" alt="jabon zorro" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section">
                    <img src="images/ayudin_pruct.jpg" alt="ayudin ropa blanca" class="productDetail-img">
                </div>
            </div>
            <div class="productDetail-btn-prev" id="productDetail-btn-left">&#60;</div>
            <div class="productDetail-btn-next" id="productDetail-btn-right">&#62;</div>
        </div>
    </main>
    <section class="productDetail-datos">
        <div class="productDetail-titulo"> <h2>Set de productos de limpieza</h2> </div>
        <div class="productDetail-descripcionbreve"> <p>El mejor ser del limpieza que podras encontrar, cuenta con 4 productos de las mejores marcas.</p></div>
        <div class="productDetail-precio"> <p>$3500</p></div>
        <div class="productDetail-pago"><i class="far fa-credit-card index-icons-footer"></i><p> Medios de pago disponibles</p></div>
        <div class="productDetail-envio"><i class="fas fa-gift index-icons-footer"></i><p>Verifica el costo de tu envio</p></div>
        <div class="productDetail-stock"><p>Stock Disponible</p></div>
        <button onclick="decrement()">-</button>
        <input type=number id=demoInput min=0 max=110>
        <button onclick="increment()">+</button>
    
    
        <div class="productDetail-btn-comprar"><button >Comprar</button></div>
        <div class="productDetail-btn-agregarcarrito"><button >Agregar al Carrito</button></div>
        
        
    </section>




    <footer class="productDetail-footer">
        <div><p>sdasd</p></div>
    </footer>
    <script src="/js/productDetail-slider.js"></script>
    <div><p>dasd</p></div>
</body>
</html>