<%- include('partials/doctype.ejs') %>

    <title>Detalle de producto</title>
</head>
<body class="body">
    <%- include('partials/header.ejs') %>
    
    <div class="productDetail-sliderdatosybotones">
    <main class="productDetail-main">
        <div class="productDetail-slider-container">
            <div class="productDetail-slider" id="productDetail-slider">
                <div class="productDetail-slider-section">
                    <img src="images/CIF_pruct.jpg" alt="limpiador Cif blanco" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section">
                    <img src="images/mr_musculo_pruct.jpg" alt="desengrasante mr musculo" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section"> 
                    <img src="images/Zorro_pruct.jpg" alt="jabon zorro" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section">
                    <img src="images/ayudin_pruct.jpg" alt="ayudin ropa blanca" class="productDetail-img">
                </div>
            </div>
            <div class="productDetail-btn-prev" id="productDetail-btn-left">&#60;</div>
            <div class="productDetail-btn-next" id="productDetail-btn-right">&#62;</div>
        </div>
    </main>
    <section class="productDetail-datos">
        <div class="productDetail-titulo"> <h2>Set de productos de limpieza</h2> </div>
        <div class="productDetail-descripcionbreve"> <p>El mejor set del limpieza que podras encontrar, cuenta con 4 productos de las mejores marcas.</p></div>
        <div class="productDetail-precio"> <p>$3500</p></div>
        <div class="productDetail-pago"><i class="far fa-credit-card index-icons-footer"></i><p> Medios de pago disponibles</p></div>
        <div class="productDetail-envio"><i class="fas fa-gift index-icons-footer"></i><p>Verifica el costo de tu envio</p></div>
        <div class="productDetail-stock"><p>Stock Disponible</p></div>
        <div class="contador-productDetail-botones">
        <button onclick="decrement()" class="btn-min-productDetail" >-</button>
        <input type=number id=demoInput min=0 max=110 class="contador-productDetail" placeholder="0">
        <button onclick="increment()" class="btn-max-productDetail">+</button>
        </div>
    
    
        <div class="producDetail-botones">
            <div>
                 <input type="submit" name="btn-comprar" class="btn-comprar-productdetail" value="Comprar">
            </div>
            <div>
                 <input type="submit" name="btn-carrito" class="btn-addcarrito-productdetail" value="Agregar al carrito">
            </div>
        </div>       
        </section>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="/js/productDetail-slider.js"></script>
    
</body>
</html>