<%- include('partials/doctype.ejs') %>

    <title>Carrito</title>
</head>
<body class="body">
    <%- include('partials/header.ejs') %>
    
    <main class="productCart-main">
        <div class="productCartCarrito">Carrito</div>
        <section class="productCart-producto1"> 
            <div class="productCart-imagenytitulo">
                <div class="productCart-imagen"><img src="/images/mr_musculo_pruct.jpg" alt="" ></div>
                <div class="productCart-tituloproducto1"> <h2 >Titulo de producto</h2> </div>
            </div> 
            <div class="productCart-contador-icono-precio">
                    <div class="contador-productCart-botones">
                            <button onclick="decrement()" class="btn-min-productCart" >-</button>
                            <input type=number id=demoInput min=0 max=110 class="contador-productCart" placeholder="0">
                            <button onclick="increment()" class="btn-max-productCart">+</button>
                    </div>
                    <div class="productCar-iconoyprecio">                   
                        <div class="productCart-icontrash"><i class="fas fa-trash-alt"></i> </div>
                        <div class="productCart-precio">$3.999</div> 
                    </div>                   
            </div>   
        </section>
        <section class="productCart-producto1"> 
            <div class="productCart-imagenytitulo">
                <div class="productCart-imagen"><img src="/images/Zorro_pruct.jpg" alt="" ></div>
                <div class="productCart-tituloproducto1"> <h2 >Titulo de producto</h2> </div>
            </div> 
            <div class="productCart-contador-icono-precio">
                    <div class="contador-productCart-botones">
                            <button onclick="decrement1()" class="btn-min-productCart" >-</button>
                            <input type=number id=demoInput1 min=0 max=110 class="contador-productCart" placeholder="0">
                            <button onclick="increment1()" class="btn-max-productCart">+</button>
                    </div>
                    <div class="productCar-iconoyprecio">                   
                        <div class="productCart-icontrash"><i class="fas fa-trash-alt"></i> </div>
                        <div class="productCart-precio">$3.999</div> 
                    </div>                   
            </div>   
        </section>
        <section class="productCart-producto1"> 
            <div class="productCart-imagenytitulo">
                <div class="productCart-imagen"><img src="/images/ayudin_pruct.jpg" alt="" ></div>
                <div class="productCart-tituloproducto1"> <h2 >Titulo de producto</h2> </div>
            </div> 
            <div class="productCart-contador-icono-precio">
                    <div class="contador-productCart-botones">
                            <button onclick="decrement2()" class="btn-min-productCart" >-</button>
                            <input type=number id=demoInput2 min=0 max=110 class="contador-productCart" placeholder="0">
                            <button onclick="increment2()" class="btn-max-productCart">+</button>
                    </div>
                    <div class="productCar-iconoyprecio">                   
                        <div class="productCart-icontrash"><i class="fas fa-trash-alt"></i> </div>
                        <div class="productCart-precio">$3.999</div> 
                    </div>                   
            </div>   
        </section>
        <section class="productCart-total">
            <div>Total</div>
            <div>$11.997</div>
        </section>
        <section class="productCart-continuarcompra">
            <button class="productCart-continuarcompraboton">
                Continuar Compra
            </button>
        </section>

    </main>

    <%- include('partials/footer.ejs') %>
<script src="/js/productDetail-slider.js"></script>
</body>
</html>