<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalle de producto</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/707b293baa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Mulish&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body class="body">
    <header class="index-header">
        <section class="index-maxwidth-body"> 
            <div class="index-logo">
                <img src="images/logo-gota.svg" alt="logo de allclean" class="index-imglogo">
                <h1>All Clean</h1>
            </div>

            <section class="index-searchbar">
                <input type="search" name="busqueda" placeholder="¿Qué producto buscas?">     
            </section>

            <section class="index-rightmenu">
                <i class="fas fa-user"></i>
                <i class="far fa-heart"></i>
                 <i class="fas fa-shopping-cart" ></i> 
            </section>

            <section class="index-hamburgermenu">
                <i class="fas fa-bars"></i>
            </section>
        </section>        
    </header>
    <div class="productDetail-sliderdatosybotones">
    <main class="productDetail-main">
        <div class="productDetail-slider-container">
            <div class="productDetail-slider" id="productDetail-slider">
                <div class="productDetail-slider-section">
                    <img src="images/CIF_pruct.jpg" alt="limpiador Cif blanco" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section">
                    <img src="images/mr_musculo_pruct.jpg" alt="desengrasante mr musculo" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section"> 
                    <img src="images/Zorro_pruct.jpg" alt="jabon zorro" class="productDetail-img">
                </div>
                <div class="productDetail-slider-section">
                    <img src="images/ayudin_pruct.jpg" alt="ayudin ropa blanca" class="productDetail-img">
                </div>
            </div>
            <div class="productDetail-btn-prev" id="productDetail-btn-left">&#60;</div>
            <div class="productDetail-btn-next" id="productDetail-btn-right">&#62;</div>
        </div>
    </main>
    <section class="productDetail-datos">
        <div class="productDetail-titulo"> <h2>Set de productos de limpieza</h2> </div>
        <div class="productDetail-descripcionbreve"> <p>El mejor set del limpieza que podras encontrar, cuenta con 4 productos de las mejores marcas.</p></div>
        <div class="productDetail-precio"> <p>$3500</p></div>
        <div class="productDetail-pago"><i class="far fa-credit-card index-icons-footer"></i><p> Medios de pago disponibles</p></div>
        <div class="productDetail-envio"><i class="fas fa-gift index-icons-footer"></i><p>Verifica el costo de tu envio</p></div>
        <div class="productDetail-stock"><p>Stock Disponible</p></div>
        <div class="contador-productDetail-botones">
        <button onclick="decrement()" class="btn-min-productDetail" >-</button>
        <input type=number id=demoInput min=0 max=110 class="contador-productDetail">
        <button onclick="increment()" class="btn-max-productDetail">+</button>
        </div>
    
    
        <div class="producDetail-botones">
            <div>
                 <input type="submit" name="btn-comprar" class="btn-comprar-productdetail" value="Comprar">
            </div>
            <div>
                 <input type="submit" name="btn-carrito" class="btn-addcarrito-productdetail" value="Agregar al carrito">
            </div>
        </div>       
        </section>
    </div>

    <footer class="footer">
        <div class="index-div-footer-container">
            <i class="far fa-credit-card index-icons-footer"></i>
            <h2>Elegí como pagar</h2>
            <h3>Tenemos los medios de pago mas populares del mercado</h3>
        </div>
        <div class="index-div-footer-container">
            <i class="far fa-check-square index-icons-footer"></i>
            <h2>Compra asegurada</h2>
            <h3>Vendedores Garantizados por Safety Pay</h3>
        </div>
        <div class="index-div-footer-container">
            <i class="fas fa-gift index-icons-footer"></i>
            <h2>Envíos a todo el país</h2>
            <h3>Enviá a tu domicilio o retira en nuestros puntos Pickit!</h3>
        </div>
    </footer>
    <script src="/js/productDetail-slider.js"></script>
    
</body>
</html>