<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/707b293baa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fruktur&family=Mulish&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>
    <form action="/" method="post" class="register-create-form">
        <h2>Registro</h2>
        <div class="register-actividad-container">
            <label class="prueba"><input type="radio" name="tipoActividad" value="persona"> Persona</label>  
            <label class="prueba"><input type="radio" name="tipoActividad" value="empresa"> Empresa</label>
        </div>
        <div class="register-control-formulario">
            <div class="register-icon-container">
                <i class="far fa-user"></i>
            </div>
            <input type="text" name="nombreCompleto" placeholder="Nombre y Apellido" minlength="5" required class="register-control">
        </div>
        <div class="register-control-formulario">
            <div class="register-icon-container">
                <i class="far fa-user"></i>
            </div>
            <input type="text" name="usuario" placeholder="Nombre de Usuario" class="register-control" required minlength="5">
        </div>
        <div class="register-control-formulario">
            <div class="register-icon-container">
                <i class="far fa-envelope"></i>
            </div>
            <input type="email" name="email" placeholder="Ingrese su mail" class="register-control">
        </div>
        <div class="register-control-formulario">
            <label class="register-label-nacimiento">Fecha de Nacimiento</label>
            <input type="date" name="fecha" class="register-control register-date">
        </div>
        <div class="register-control-formulario">
            <input type="password" name="password" id="password" placeholder="Password (Min 6 caracteres)" pattern=".{6,}" required class="register-control">
            <div class="register-eye-container">
                <i id="visibilityBtn" class="register-eye"><span id="icon" class="material-icons-outlined">visibility</span></i>
            </div>
        </div>
        <div class="register-control-formulario">
            <input type="password" name="validarPassword" id="confirm_password" placeholder="Reingrese su Password" pattern=".{6,}" required class="register-control">
            <div class="register-eye-container">
                <i id="visibilityBtn2" class="register-eye"><span id="icon2" class="material-icons-outlined">visibility</span></i>
            </div>
        </div>
        <button type="submit" class="register-submit">Registrarse</button>
    </form>
    <script src="/js/register-confirmPass.js"></script>
    <script src="/js/register-eye.js"></script>
</body>
</html>