.header
{
    background-color: #b0d4d2;
    width: 100%;
    /* position: absolute; */
    z-index:10;
}

.header-maxwidth-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* logo all clean */
.index-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.index-logo img{
    width: 3rem;
    height: 3rem;
    animation: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: logoimg;
}

@keyframes logoimg{
    0% {opacity: 100%;}
    25% {opacity: 0%;}
    100% {opacity: 100%;}    
}

@keyframes logoh1{
    0% {opacity: 0%;}
    25% {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}    
}

.index-logo a{
    font-size: 1rem;
    padding-top: 2px;
    text-decoration: none;
    font-family: 'Syncopate', sans-serif;
    color: #286698;
    animation: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: logoh1;
}

/* barra busqueda */

.header-searchbar{
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    /* tocado por javier */ 
    align-items: center;
    
   
}

.header-searchbar:hover input{
    border: rgb(139, 135, 135) solid 0.5px;
    font-weight: bold;
    border-radius: 4.8px ;
}

.header-searchbar input{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 25px;
    /* border: rgba(241, 6, 6, 0.973) solid 1px; */
   
}


.lupa{
    border: none;
    background-color: white;
    position: absolute;
    height: 80%;
    width: 17%;
    max-width: 5.5rem;
    right: 0%;
    cursor: pointer;
    top: 5px;;
    margin-right: 5px;
    border-left: #808080ad solid 1px;
    /* border: rgba(102, 22, 230, 0.973) solid 1px; */
    
}

.lupa i{
    color: #808080ad;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}

/* menu derecho  */

.header-rightmenu{
    display: none;
    
}

/* menu hamburguesa  */
.header-rightmenu{
    display: none;
    
}

.hamburgermenu{
    font-family: "Roboto", sans-serif;

}
  
.hamburgermenu .barras{
    float: right;
    color: #ebebeb;
    background-color: #286698;
    border-radius: 7px;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    margin: 0 7px;
}

.hamburgermenu .flecha-down{
    padding-left: 3px;
}

.hamburgermenu .opc /*ul*/{
/*     display:block;  
    z-index:10;
    bottom: -14px;
    right: -1px;
    position:fixed;*/
    margin-left:100px;
    font-size: 13px;
    position:absolute;
    padding: 10px;
    top: 58px;
    width:50vw;
    height:calc(100vh - 57px);   
    background-color: #888;
 /*   z-index:11;
     border: blue 1px solid; */
    overflow-y:scroll;
    transition: all 1s ease-in-out;
}
.hamburgermenu .opc li /*ul li*/{
    display:block;
    list-style:none;
    align-items: center;
/*     text-align:center; */
    padding: 16px;
/*     margin: 10px 5px; */
    width: 100%;
    margin:1px 0px;
/*     border:pink 1px solid; */
}
.hamburgermenu .opc li a{
    display:block;
    color: white;
    text-decoration:none;
    overflow-y:scroll;
}

.submenu-btn{
    padding: 0px;
    position:relative;
   
}

.submenu-opc { 
    transition: all 0.4s;
    background-color: #5d5d5d;
    height: 0;
/*     border: white 1px solid; */
    overflow: hidden;
 
 }
.submenu-opc a{
/*     border: white 1px solid; */
    padding-left: 30px;
    
}

.hamburgermenu .show{
    margin-left:-40%;
}

.submenu-opc .desplegar{
    height: 10px;
  /*  border: white 1px solid; */
    overflow: visible;
}
/*---------------------------------------------FOOTER---------------------------------------------*/

.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    border: solid 1px rgba(180, 161, 161, 0.7);
    box-shadow: 0px 0px 10px rgb(100,100,100);
    width: 100%;
}

.footer-div
{
    max-width: 30%;
}

.footer-div h2{
    font-size: 2vh;
    color: rgb(100,100,100);
}

.footer-div h3{
    font-size: 1.5vh;
    color: rgba(100,100,100,0.4);
}

.footer-icons{
    margin: 1rem;
    font-size: 40px;
    color: #286698 ;
}

/*---------------------------------------------MEDIA QUERIES---------------------------------------------*/

@media (min-width: 768px)
{
    
    .hamburgermenu{
        display: none;
    }
    
    .header-rightmenu{
        display: flex;
        flex-direction: row;
    }

    .header-rightmenu i{
        margin: 1rem;
        font-size: 2rem;
        color: #286698;
    }

    /* menu desplegable usuario */
    .menu-area, 
    .menu-area:focus{
        width:100%;
        display: flex;
        flex-direction: row;
        list-style: none;
        /* tocado por javier */
        /* padding-bottom: 10px; */
        padding:10px;
    }
    /* tocado por javier */
    .menu-area-user{
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
        text-decoration:none;
        /* tocado por javier */
        
    }
    
    .menu-area .menu-opc{       
        position: absolute;
        width:0%;
        overflow: hidden;
        list-style: none;    
        border-radius: 3%; 
    }

    .menu-area .menu-opc ul{
        margin: 0px;
    }

    .menu-area .menu-opc li{
        border-radius: 3px; 
        margin-top: 7px;
        margin-right: 80px;
        background-color: #777;    
        width: 100px;    
       
        /* border: whitesmoke 1px solid; */
    }
    
    .menu-area .menu-opc li a:hover,
    .menu-area .menu-opc li a:focus{
        background-color: #555;
        position:relative;   
        transition: all 0.3s ease-in-out;     
        /* border: green 1px solid; */
    }
    
    .menu-area:hover .menu-opc a,
    .menu-area:focus .menu-opc a{
        border-radius: 3px;
        text-decoration: none;
        width:100%;
        display:inline-block;
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-size: 2rem;
        padding: 5px;
        position: relative;
        /* border: black 1px solid; */
    }

    .menu-area .menu-opc a{
        color: whitesmoke;
    }

     
    .menu-area:hover .menu-opc,
    .menu-area:focus .menu-opc{
    
        display:block;
        width: 15%;
        z-index: 5;
        background: transparent;
        position: absolute;
        right: 0px;
        top: 75px;
        transition: all 1s ease-in-out;
        /* border: red 1px solid; */
     
        
    }
}

@media (min-width: 1024px)
{
    .index-logo img{
        width: 6rem;
        height: 6rem;
    }

    
}


