/*MAIN PRODUCT DETAIL*/
.productDetail-slider 
{
    display: flex;
    width: 400%;
}
.productDetail-main
{    
    display: flex; 
    justify-content: space-between;      
}
.productDetail-img
{    
    max-width: 900px;
    display:block;
    width: 50%;
    height: 50%;
    font-size: small;
    margin-left: 15%;
}
.productDetail-slider-container
{
    margin:auto;
    width: 90%;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    box-shadow:0 0 0 3px #286698,
                0 15px 50px ;
    border-radius: 5px;
}
.productDetail-slider-section
{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-left: 5%;
}
.productDetail-btn-prev , .productDetail-btn-next
{
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top:50%;
    transform:translateY(-80);
    line-height: 40px;
    font-weight: bold;
    font-size:22px ;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    font-family: monospace;
}
.productDetail-btn-prev:hover , .productDetail-btn-next:hover
{
    background: rgba(255, 255, 255, 1)
}
.productDetail-btn-prev
{
    left: 10px;
}
.productDetail-btn-next
{
    right: 10px;
}
.productDetail-datos
{
    margin:auto; 
    text-align: center;
    margin-top: 10% ;
    width: 90%;
}
.productDetail-titulo
{
    font-size: 150%;
    width: 95%;
    text-align: center;
    margin: auto;
}
.productDetail-descripcionbreve
{
    width: 80%;
    margin: auto;
    text-align:justify;
    font-size: 150%;
}
.productDetail-precio
{
    font-size: 350%;
    font-weight:bolder;
    text-align: center;
    margin: auto;
    margin-bottom: 0;
    border-radius: 10%;
    width: 120px;  
    height: 50px;        
}
.productDetail-precio p
{
    margin:auto;
    margin-top: 0px;
    padding-top: 10px;
}
.productDetail-pago i
{
    font-size: 250%;
}
.productDetail-pago p
{
    text-align:justify;
    font-size: 150%;
}
.productDetail-pago
{
    display: flex;
    justify-content:center ;
    margin-top: 10px;
    margin-bottom: 0 ;
}
.productDetail-envio
{
    display: flex;
    justify-content:center ;
    margin-top: 10px;
    margin-left: -5px;
}
.productDetail-envio p
{  
    text-align:justify;
    font-size: 150%;
    margin-top: 5px;
}
.productDetail-envio i
{
    font-size: 280%;
    margin-top: 0;
}
.productDetail-cont-contador
{
    box-shadow:0 0 0 1px #b4b7b9,
                0 5px 10px ;
    width: 100px;
    height: 50px;
    margin: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;  
    position: relative;  
}
.productDetail-restar
{
    position: absolute;
    left: 5px;
    top: 5px;  
    font-size: 150%;
    padding: 0 6px;  
}
.productDetail-sumar
{    
    position: absolute;
    left: 5px;
    bottom: 5px;     
    padding: 5 3px; 
    
}
.productDetail-mostrarnumero
{
    font-size: 250%;
    margin: auto;
    text-align: center;
    margin-top: 8%;
    margin-left: 10%;
}
.productDetail-stock p
{
    font-size: 150%;
    margin-bottom: 3px;
}
.btn-comprar-productdetail
{    
    margin-top: 5%;
    background-color: #286698;
}
.btn-comprar-productdetail,.btn-addcarrito-productdetail
{
    width: 150px;
    height: 30px;
    border-radius: 5%;
    border:none;
    font-size: 15px;
    color: whitesmoke;  
}
.btn-addcarrito-productdetail
{
    margin-top: 5px;
    background-color: #2289dd;
}
.contador-productDetail
{
    height: 30px;
    font-size: 20px;
    width: 50px;
    margin: auto;
    padding-left: 15%;
    border: none;
}
.btn-min-productDetail, .btn-max-productDetail
{
    height: 30px;
    font-size: 20px;
    width: 30px;
    margin: auto;
    font-weight: bolder;
    border: none;
}
.contador-productDetail-botones
{
    display: flex;
    width: 40%;
    margin:auto;
    margin-top: 10px;
}
    
/*------------------------------------------------MEDIA QUERIES------------------------------*/

@media (min-width: 768px)
{
.productDetail-sliderdatosybotones
{
    display: flex;  
    max-width: 1024px;
    margin: auto;
    padding-top: 4%;
}
.productDetail-datos
{
    margin-top: 0px;
    width: 40%;
    max-width: 550px;
    height: 500px;
    margin-right: 8%;
    padding: 0;
    border: solid 0px #666 ;
    border-radius: 7%       ;
    box-shadow:0 0 0 0px #286698,
    0 10px 15px ;
}
.productDetail-main
{
    width: 60%;
}
.productDetail-slider-container
{
    width: 400px;
    height: 400px;
    overflow: hidden;
    box-shadow:0 0 0 0px #286698,
    0 0px 0px ;
}
.productDetail-img
{    
    max-width: 600px;
    display:block;
    width: 35%;
    height: 30%;
    font-size: small;
    margin-left: 20%;
}
.productDetail-hamburgermenu
{
    display: none;
}
.productDetail-rightmenu
{
    display: flex;
}
}

@media (min-width: 1024px)
{
    .productDetail-datos
    {
        height: 460px; 
    }
    .productDetail-slider-container
    {
        width: 550px;
    }
    .productDetail-img
    {    
        max-width: 900px;
    }
}

/*------------------------------------------------MEDIA QUERIES------------------------------*/