/* ------------------VARIABLES GLOBALES----------------------------*/
*{
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-inline-start: 0px;
    list-style: none;
}

html{
    font-size: 10px;
}

.body{
    background-color: white;
    position: relative;
    min-height: 100vh;
    padding-bottom: 400px;
}

/*------------------------------------------------MEDIA QUERIES------------------------------------------------*/

@media (min-width: 768px){
    .body{
    padding-bottom: 300px;
    }
}

@media (min-width: 1024px)
{
    .footer-icons{
        margin: 1rem;
        font-size: 25px;
        color: #286698 ;
    }

    .footer-div h2{
        font-size: 25px;
    }

    .footer-div h3{
        font-size: 20px;
    }
    
    .footer-icons{
        margin: 1rem;
        font-size: 25px;
        color: #286698 ;
    }
}

/*------------------------------------------------MEDIA QUERIES------------------------------------------------*/