/* ------------------VARIABLES GLOBALES----------------------------*/
*{
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 10px;
}

.body{
    background-color: white;
    position: relative;
    min-height: 100vh;
    padding-bottom: 400px;
}

.footer{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    border: solid 1px rgba(180, 161, 161, 0.7);
    box-shadow: 0px 0px 10px rgb(100,100,100);
    width: 100%;
}

.index-div-footer-container h2{
    font-size: 2vh;
    color: rgb(100,100,100);
}

.index-div-footer-container h3{
    font-size: 1.5vh;
    color: rgba(100,100,100,0.4);
}

.index-icons-footer{
    margin: 1rem;
    font-size: 40px;
    color: #286698 ;
}

.index-div-footer-container
{
    max-width: 30%;
}

.index-header
{
    background-color: #f1f1f1;
    width: 100%;
}

.index-searchbar{
    border: rgba(139, 135, 135,0.2) solid 0.5px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    position: relative;
    width: 100%;
}

.index-searchbar input{
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    padding-right: 25px;
}

.index-searchbar:hover{
    border: rgb(139, 135, 135) solid 1px;
    font-weight: bolder;
}

.index-maxwidth-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
}

.index-logo img{
    width: 3rem;
    height: 3rem;
    animation: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: logoimg;
}

@keyframes logoimg{
    0% {opacity: 100%;}
    25% {opacity: 0%;}
    100% {opacity: 100%;}    
}

@keyframes logoh1{
    0% {opacity: 0%;}
    25% {opacity: 0%;}
    50% {opacity: 100%;}
    100% {opacity: 0%;}    
}

.index-logo a{
    font-size: 1rem;
    padding-top: 2px;
    text-decoration: none;
    font-family: 'Syncopate', sans-serif;
    color: #286698;
    animation: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name: logoh1;
}

.lupa i{
    color: #808080ad;
    position: relative;
    font-size: 14px;
    cursor: pointer;
}

.lupa{
    border: none;
    background-color: white;
    position: absolute;
    height: 80%;
    width: 17%;
    max-width: 5.5rem;
    right: 0%;
    cursor: pointer;
    top: 5px;;
    margin-right: 5px;
    border-left: #808080ad solid 1px;
}

.index-rightmenu{
    display: inline-block;
}

.index-rightmenu i{
    margin: 1rem;
    font-size: 2rem;
    color: #286698;
}

.index-hamburgermenu{
    color: #ebebeb;
    background-color: #286698;
    border-radius: 7px;
    padding: 10px 10px 10px 10px;
    height: fit-content;
    width: fit-content;
    margin: 0 7px;
}

/*------------------------------------------------MEDIA QUERIES------------------------------*/

@media (min-width: 768px)
{
.body{
    padding-bottom: 300px;
}

.index-searchbar{
    width: 65%;
}
.menu-area{
    width:100%;
     
}
.menu-area ul{
        
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
       
.menu-area li ul {
    
    position: absolute;
    width:0%;
    overflow: hidden;
}
.menu-area li li {
    
    display: block;
     width: 100%;
}
.menu-area li:hover li a,
.menu-area li:focus li a {
    text-decoration: none;
    width:20%;
    padding:2%;
    border: 1% ;
    display:inline-block;
    font-family:inherit; 
    font-size: 2rem;
    line-height: 1.7rem;
    background: lightcyan;
}
.menu-area li li a:hover,
.menu-area li li a:focus {        

    background:#8AA9B8;
}
        
.menu-area li:hover ul,
.menu-area li:focus ul {

    display:block;
    width: 50%;
    z-index: 5;
    margin: 0rem -4rem -4rem -4rem;
    padding: 0rem 4rem 4rem 4rem;
    background: transparent;
}

.search-form{
        width: 100%;
}
}

@media (min-width: 1024px)
{
    .index-icons-footer{
        margin: 1rem;
        font-size: 25px;
        color: #286698 ;
    }

    .index-div-footer-container h2{
        font-size: 25px;
    }

    .index-div-footer-container h3{
        font-size: 20px;
    }
    
    .index-icons-footer{
        margin: 1rem;
        font-size: 25px;
        color: #286698 ;
    }

    .index-searchbar{
        width: 75%;
    }

    .search-form{
        width: 100%;
    }

    .index-logo img{
        width: 6rem;
        height: 6rem;
    }
}

/*------------------------------------------------MEDIA QUERIES------------------------------*/