*
{
    box-sizing: border-box;
    font-family: 'Fruktur', cursive;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html
{
    font-size: 10px;
}

.index-body
{
    background-color: #fcfeff;
}

.index-header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    border: solid 1px black;
}

.index-logo img
{
    display: block;
    width: 3rem;
    margin: 0.5rem;
}

.index-searchbar{
    margin: auto;
}

.index-searchbar input
{
    margin: auto;
    max-width: 900px;
    width: 70vw;
    text-align: center;
    border-radius: 0.5rem;
}

.index-rightmenu
{
   display: none;
   margin: auto;
}

.index-rightmenu i
{
    margin: 1rem;
    font-size: 2rem;
    color: #286698;
}

.index-hamburgermenu
{
    color: #ebebeb;
    background-color: #286698;
    border-radius: 7px;
    padding: 10px 10px 10px 10px; 	
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.index-slaider-container
{
    width: 100%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.index-slider
{
    display: flex;
    width: 400%;
    height: 200px;
    margin-left: -100%;
}

.index-slider-section
{
    width: 100%;
}

.index-slider-img
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.index-slider-btn
{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background: rgba(255,255,255,0.7);
    top:50%;
    transform: translateY(-50%);
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;
    text-align: center; 
    border-radius: 50%;
    cursor: pointer;
}

.index-slider-btn:hover
{
    background: #fcfeff;
}

.index-slider-btn-right
{
    right: 1rem;
}

.index-slider-btn-left
{
    left: 1rem;
}




@media (min-width: 761px)
{

    .index-hamburgermenu
    {
        display: none;
    }

    .index-rightmenu
    {
        display: flex;
    }
}