.btneditanddelete
{
    text-align: center;  
    display: column;  
    margin-left: -10px; 
}

.btn-Editar1 , .btn-Eliminar1
{
    background-color: #286698;
    color: whitesmoke;
    /* margin: auto;
    text-align: center; */
    width: 60px;
    font-size: small;
    height: 30px;  
    padding-left: 4px;
    border: none; 
    border-radius: 10%; 
    
}

.btn-Eliminar1
{
    background-color: rgb(223, 78, 78);
    height: 30px;
    text-align: center;
    margin: auto;
    margin-top: 4px;
    
}

.ContenedorPrincipal
{
    display: flex;
    margin: auto;
    justify-content: space-between;   
    width: 100%;  
    max-width: 1000px;
    box-shadow: 0px 5px 10px rgb(100,100,100);
    height: 100px;
    margin-bottom: 1.5%;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px; 
}

.ContenedorName
{
    font-size: medium;
    padding-left: 15px;
    width: 65%;
}

.Contenedorproductos
{
   display: flex;      
   text-align: left;
}

.titulo
{
    margin: auto;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 3%;
    font-size: x-large;
    color: #255983;
    width: 90%;
}

.bodyp
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position:relative;
    padding-bottom: 200px;
}

.imagenes 
{
    width: 40px;
    height: 40px;
}

.img
{
    width: 60px;
    height: 60px;
    margin-left: -10px;
    box-shadow: 3px 5px 5px rgb(100,100,100);
}

/*------------------------------------------------MEDIA QUERIES------------------------------------------------*/

@media (min-width: 768px)
{
    .ContenedorName
    {
        font-size: medium;
        padding-left: 15px;
        width: 100%;
        
        
    }

    .titulo
    {
        margin: auto;
        text-align: center;
        margin-bottom: 3%;
        margin-top: 3%;
        font-size: xx-large;
        color: #255983;
        width: 90%;
    }

}

@media (min-width: 1024px)
{
    .ContenedorName
    {
        font-size: medium;
        padding-left: 15px;
        width: 100%;
        
    }

    .titulo
    {
        margin: auto;
        text-align: center;
        margin-bottom: 3%;
        margin-top: 3%;
        font-size: xx-large;
        color: #255983;
        width: 90%;
    }
}

/*------------------------------------------------MEDIA QUERIES------------------------------------------------*/