<div class="slideshow-container">
    
  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img src="images/banner/banner-1.jpg">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img src="images/banner/banner-5.jpg">
    <div class="text"></div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext"></div>
    <img src="images/banner/banner-3.jpeg"> 
    <div class="text"></div>
  </div>

  <div class="dots" style="text-align:center">
    <span class="dot" onclick="currentDiv(1)"></span> 
    <span class="dot" onclick="currentDiv(2)"></span> 
    <span class="dot" onclick="currentDiv(3)"></span> 
  </div>

  <a class="prev" onclick="plusDivs(-1)">❮</a>
  <a class="next" onclick="plusDivs(1)">❯</a>

</div>
<br>

<!-- Scripts -->
  <script src="../js/slider.js"></script>
<!-- Scripts -->