
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Login'}) %>

<body class="body">
    <!-- Include Header-->
    <%- include('../partials/header.ejs') %>
    <!-- Include Header-->
  <h1> Pagina de perfil en mantenimiento </h1>
  <i class="fa-solid fa-hammer"></i>
    <!-- Include Footer-->
    <%- include('../partials/footer.ejs') %>
    <!-- Include Footer-->

    <!-- Scripts -->
    <script src="/js/login-pass.js"></script>
    <script src="/js/register-confirmPass.js"></script>
    <script src="/js/register-eye.js"></script>
    <!-- Scripts -->
</body>
</html>