<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Login'}) %>

<body class="body">
    <!-- Include Header-->
    <%- include('../partials/header.ejs') %>
    <!-- Include Header-->
    <h2>caca</h2>
