<!DOCTYPE html>
<html lang="en">

<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Creación Producto'}) %>

<body class="body">
    <!-- Include Header With Banner-->
    <%- include('../partials/header.ejs') %>
    <!-- Include Header With Banner-->
    
    <!-- Product Create -->
    <main class="productCreate-main">
        pagina en construccion - creacion de producto
    </main>
    <!-- Product Create -->

    <!-- Include Footer-->
    <%- include('../partials/footer.ejs') %>
    <!-- Include Footer-->
</body>
</html>
