<%- include('../partials/doctype.ejs') %>

    <title>Carrito</title>
</head>
<body class="body">
    <%- include('../partials/header.ejs') %>
    
    <main class="productCreate-main">
        pagina en construccion - creacion de producto
    </main>

    <%- include('../partials/footer.ejs') %>
<script src="/js/productDetail-slider.js"></script>
</body>
</html>
